/* основной цвет фона - #FFFFFF
вторичный цвет фона - #F5F4FA
цвет заголовков - #212121
цвет текста - #757575
цвет акцента, ховера фокуса - #2196F3
ховер кнопки "заказать услугу" - #188ce8

цвета лого - #2196F3  #000000 #FFFFFF
цвет тел и емейл в футере - rgba(255, 255, 255, 0.6) 
бекграунд цвет футера и заглушки героя - #2F303A */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --title-color: #212121;
  --text-color: #757575;
  --active-hover-focus-current: #2196f3;
  --main-logo: #2196f3;
  --hover-btn: #188ce8;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --background-footer-hero: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--text-color);
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
}

.head-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  color: var(--main-logo);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--logo-header);
}

.logo-footer {
  color: var(--logo-footer);
}

.list-item {
  list-style: none;
}

.nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-tel,
.nav-mail {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-contacts-item + .nav-contacts-item {
  margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus,
.nav-tel:hover,
.nav-tel:focus,
.nav-mail:hover,
.nav-mail:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-add:hover,
.footer-add:focus {
  color: var(--active-hover-focus-current);
}

[aria-current] {
  color: var(--active-hover-focus-current);
}

.nav-item {
  position: relative;
}

[aria-current]::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--active-hover-focus-current);
  border-radius: 2px;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--background-footer-hero);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.btn,
.order-submit-btn {
  margin: 0 auto;
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--active-hover-focus-current);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus,
.order-submit-btn:hover,
.order-submit-btn:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  margin-bottom: 10px;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-section {
  padding-top: 0;
}

.project-list {
  display: flex;
  gap: 30px;
}

.list-project {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.project-list-foto {
  position: relative;
}

.list-project-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.list-project-description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}

.members {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-list {
  display: flex;
  gap: 30px;
}

.member-description {
  padding-bottom: 30px;
  padding-top: 30px;
}

.member-item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-position {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-icon {
  fill: currentColor;
}

.member-social-link:hover,
.member-social-link:focus {
  background-color: var(--active-hover-focus-current);
  color: #ffffff;
}

/*another method for icon-hover*/

/*.member-social-link:hover,
.member-social-link:focus {
  background-color: var(--active-hover-focus-current);
}

.member-social-link:hover,
.member-social-link:focus .member-social-icon {
  fill: #ffffff;
}*/

.member-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  outline: transparent;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--active-hover-focus-current);
  border-color: var(--active-hover-focus-current);
}

.footer {
  background-color: var(--background-footer-hero);
}

.logo-foot {
  display: block;
  margin-bottom: 20px;
  color: var(--main-logo);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-contacts {
  font-style: normal;
}

.footer-tel,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-footer);
  text-decoration: none;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  margin-top: 10px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-add {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.section-footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.join {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: var(--main-background-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.f-container {
  display: flex;
  justify-content: start;
  width: 1200px;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.foot-container-left {
  margin-right: 70px;
  width: 231px;
}

.foot-container-middle {
  margin-right: 93px;
  width: 206px;
}

.foot-container-right {
  width: 570px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--active-hover-focus-current);
}

.mailing-form {
  display: flex;
  gap: 12px;
}

.mailing {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-input {
  width: 358px;
  height: 50px;
  padding: 15px 295px 15px 15px;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-input:focus {
  border: 1px solid #2196f3;
}

.mailing-btn {
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 0;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--active-hover-focus-current);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-btn:hover,
.mailing-btn:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-item:hover .project-text,
.project-link:focus .project-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.project-description {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-btn {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  font-family: inherit;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--active-hover-focus-current);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--hover-btn);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.order-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.order-form-field {
  margin-bottom: 10px;
}

.order-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus {
  border-color: var(--active-hover-focus-current);
}

.order-form-input:focus + .order-form-icon {
  fill: var(--active-hover-focus-current);
}

.order-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input-field {
  position: relative;
}

.order-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-com {
  margin-bottom: 20px;
}

.order-form-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form-comment:focus {
  border-color: var(--active-hover-focus-current);
}

.user-comment-hint {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.condition-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.condition-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.condition-checkbox:focus-within + .condition-checkbox-label span {
  border: 2px solid var(--active-hover-focus-current);
}

.condition-link {
  color: var(--active-hover-focus-current);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.condition-link:hover,
.condition-link:focus {
  color: var(--hover-btn);
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid #000000;
}

.check-icon {
  fill: transparent;
}

.condition-checkbox:checked + .condition-checkbox-label span {
  background-color: var(--active-hover-focus-current);
  border: none;
}

.condition-checkbox:checked + .condition-checkbox-label .check-icon {
  fill: #ffffff;
}
