/* основной цвет фона - #FFFFFF
вторичный цвет фона - #F5F4FA
цвет заголовков - #212121
цвет текста - #757575
цвет акцента, ховера фокуса - #2196F3
ховер кнопки "заказать услугу" - #188ce8

цвета лого - #2196F3  #000000 #FFFFFF
цвет тел и емейл в футере - rgba(255, 255, 255, 0.6) 
бекграунд цвет футера и заглушки героя - #2F303A */

/*.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list-item {
  list-style: none;
}

:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --title-color: #212121;
  --text-color: #757575;
  --active-hover-focus-current: #2196f3;
  --main-logo: #2196f3;
  --hover-btn: #188ce8;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --background-footer-hero: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--text-color);
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}*/

.container-header {
  display: flex;
  align-items: center;
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  color: var(--main-logo);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--black {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-header);
}

.logo--white {
  margin-bottom: 20px;
  color: var(--logo-footer);
}

.nav-menu {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu__item {
  position: relative;
}

.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--active-hover-focus-current);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--active-hover-focus-current);
  border-radius: 2px;
}

.nav-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.nav-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-menu__link:hover,
.nav_menu__link:focus,
.nav-contacts__link:hover,
.nav-contacts__link:focus,
.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--active-hover-focus-current);
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--background-footer-hero);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--active-hover-focus-current);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn--hero,
.btn--order-submit {
  margin: 0 auto;
}

.btn--mailing {
  gap: 10px;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*.feature {
  display: flex;
  gap: 30px;
}

.feature__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.feature__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}*/

.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.project-list {
  display: flex;
  gap: 30px;
}

.project-list__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.project-list__foto {
  position: relative;
}

.project-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.project-list__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}

.team__title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-list {
  display: flex;
  gap: 30px;
}

.member-list__item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member {
  padding-bottom: 30px;
  padding-top: 30px;
}

.member__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member__position {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.member-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-socials__icon {
  fill: currentColor;
}

.member-socials__link:hover,
.member-socials__link:focus {
  background-color: var(--active-hover-focus-current);
  color: #ffffff;
}

/*another method for icon-hover*/

/*.member-socials__link:hover,
.member-socials__link:focus {
  background-color: var(--active-hover-focus-current);
}

.member-socials__link:hover,
.member-socials__link:focus,
.member-socials__icon {
  fill: #ffffff;
}*/

/*.clients__title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  outline: transparent;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--active-hover-focus-current);
  border-color: var(--active-hover-focus-current);
}*/

.section--footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-footer-hero);
}

.foot-container {
  display: flex;
  justify-content: start;
  width: 1200px;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.foot-container--left {
  flex-grow: 1;
}

.foot-container--middle {
  margin-right: 93px;
}

.footer-contacts {
  font-style: normal;
}

.address {
  margin-top: 10px;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link--address {
  color: #ffffff;
}

.footer-contacts__link--tel,
.footer-contacts__link--mail {
  color: var(--contacts-footer);
}

.join {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(201, 81, 81, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__icon {
  fill: currentColor;
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--active-hover-focus-current);
}

.mailing {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-form {
  display: flex;
  gap: 12px;
}

.mailing-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 295px 15px 15px;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-form__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input:focus {
  border: 1px solid #2196f3;
}

.portfolio {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__filter {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  font-family: inherit;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter:hover,
.portfolio__filter:focus {
  color: #ffffff;
  background-color: var(--active-hover-focus-current);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project__item:hover .project-card__text,
.project__link:focus .project-card__text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-description {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-description__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description__type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .btn-close__icon,
.btn-close:focus .btn-close__icon {
  fill: var(--hover-btn);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.form__field {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input {
  position: relative;
}

.input__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:focus {
  border-color: var(--active-hover-focus-current);
}

.input__field:focus + .input__icon {
  fill: var(--active-hover-focus-current);
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  margin-bottom: 20px;
}

.form-comment__placeholder {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment__placeholder::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment__placeholder:focus {
  border-color: var(--active-hover-focus-current);
}

.conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.conditions__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.conditions__checkbox:focus-within + .conditions__label span {
  border: 2px solid var(--active-hover-focus-current);
}

.conditions__link {
  text-decoration: none;
  color: var(--active-hover-focus-current);
  border-bottom: 1px solid var(--active-hover-focus-current);
  line-height: 0.85;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions__link:hover,
.conditions__link:focus {
  color: var(--hover-btn);
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid #000000;
}

.custom-checkbox__icon {
  fill: transparent;
}

.conditions__checkbox:checked + .conditions__label span {
  background-color: var(--active-hover-focus-current);
  border: none;
}

.conditions__checkbox:checked + .conditions__label .custom-checkbox__icon {
  fill: #ffffff;
}
